html{
    background: #daede2;
    box-sizing: border-box;
    
}
body{
    background:#77c4d3;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 20px 0 0 20px;
    /* width: 100%; */
    position: relative;
    font-family: "tablet-gothic", verdana, arial, sans-serif;

    
}
 h1{
    background: red;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 50%;
    display: inline-block;
    letter-spacing: 2px;
    padding: 20px 50px;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    display: inline-block;
    margin-left: 50px;

}
h2 {
    width: 5em;
    color: #ffffff;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    font-size: 11em;
    font-weight: 900;
    letter-spacing:1px;
    line-height: 1em;
    margin: 50px;
    
}
.intro .summary p{
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 2px;
    line-height: 1.5em;
    width: 59%;
    color: #ffffff;
    font-weight: 300;
    padding-left: 50px;
    font-size: 20px;
}
.summary p:last-child{
    border-top:1px solid red;
    margin-top: 1em;
    padding-top: 1em;
    color: white; 
}
.preamble{
    width: 45%;
    padding-left: 264px;
    color: #130a0a;
    height: 300px;
    background: white;
    padding-top:120px;
    margin-left: -100px;
    background-color: rgba(255,255,255,0.9);
}
.preamble h3{
        font-size: 2.25em;
        font-size: 200;
        margin: -57px;
        padding-bottom: 75px;
    letter-spacing: 1px;
}
    
.preamble p{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: 0.5em 0;
    margin-left: -104px;
}

.main {
    width: 100%;
}
.participation{
        background:rgba(234,46,73,0.9);
        width: 50%;
        float: right;
        padding: 5%;
        position: relative;
        z-index: 1;
        margin-top: 8em;

    }
.explanation{
    background-color:#77c4d3;
    width: 32%;
    float: left;
    margin-top: 8em;
}
    .participation p{
        font-size: 1em;
        color: white;
        font-weight: 400;
        line-height: 1.5em;
        padding: 0.5em 0;
    }
    .explanation p{
        color: white;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
        padding: 0.5em 0;
    }
    .participation h3,.explanation h3{
        font-size: 2em;
        /* text-align: center; */
        color: white;
    }
    .benefits{
        clear: both;
    background-color: white;
    /* padding: 5%; */
    margin-top: 149px;
    width: 30%;
    
    float: left;
    }
    .benefits h3{
        padding-left: 115px;
        font-size: 2em;
    font-weight: 300;

    }
    .benefits p{
        font-size: 1em;
        line-height: 1.5em;
        font-weight: 400;
        padding: 0.5em,0;
        width: 37%;
    padding-left: 119px;
    
    }
    .requirements {
        position: relative;
        z-index: 1;
        margin-right: 7%;
        width: 63%;
        float: right;
        background-color:rgba(255,255,255,0.9);
    }
    .requirements p{
        font-weight: 400;
        width: 61%;
        margin-left: 150px;
    
    }

    .sidebar {
        clear: both;
    }
.extra1{
    background:rgba(51,55,69,0.9);
    width: 30%;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
}
.design-selection{
        margin-top: 2em;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: rgba(246,247,146,0.9);
        padding:68px;
        margin-top: 72px;
    }
.design-selection h3{
    font-size: 2.25em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
}